<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Welcome to this website</h1>
      <h2>Here's the home page </h2>
      <p>In order to use this website you need to write the path to the next page as following : </p>
      <br>
      <p> /home/ + your name and you'll be able to access metrics </p>
      <br>
      <p>If you are being redirected to this page something probably went wrong</p>
      <div id="metrics"></div>
    </div>
  </body>
   
</html>
